body {
    background-color: rgb(7, 0, 112);
    background-image: url("videoplasty-18255-data-background-motion-graphics-pdp.gif");
    background-size:cover;
    font-family:sans-serif;
    color: white;
    overflow: hidden;
}

:root{
    --main: rgb(0, 209, 209);

}
.center{
    padding-left: 5%;
    padding-top:5%;
}
#top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main);
    box-shadow: 0px 0px 500px rgb(0, 0, 0);
    height:58px;
    z-index: 5;
    border-bottom: 5px solid white;

}
.draggable {
    width: 200px;
    position: absolute;
}
  
.drag-handle {
    background-color: var(--main);
    color: #fff;
    height: 30px;
    cursor: move;
    transform: skew(-30deg);
    margin-left:9px;
    position: relative;
    top: 11px;
}
.close{
    background-color: var(--main);
    width: 30px;
    height: 30px;
    position: relative;
    left: 270px;
    font-size: 31px;
    padding-top: 0%;
    cursor: pointer;
}
.close i{
    position: relative;
    bottom: 6px;
    color: rgb(255, 255, 255);
}
.content {
    min-height: 300px;
    height: fit-content;
    background-color: black;
    border: 1px solid var(--main);
    width: 300px;
    border-left: 9px solid var(--main);
    box-shadow: 0px 0px 3px var(--main);
}

.win-title{
    text-align: center;
    color: var(--main);
    margin-top: 9px;
    text-decoration: underline;
    font-size:24px ;
    font-weight: bold;
}
.win-desc{
    margin: 8px;
    font-size: 9;
}
#open-side-menu{
    right: 15px;
}
#settings{
    left: 9px;
}
#top i{
    top:0px;
    cursor: pointer;
    font-size: 39px;
    position: absolute;
}
#side-menu{
    height:100%;
    width: 25%;
    position: absolute;
    z-index: 1;
    right: 0px;     
    background-color: black;
    padding-top: 59px;
    border-left: 5px solid white;
}
.sm-bar{
    width: 80%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.486);
    height: 81px;
    margin-left: 10%;
    padding-top: 20px;
    color: var(--main);
}
.sm-bar-cont{
    background-color: blacky;
}
.sm-bar-cont:hover{
    background-color: rgb(32, 32, 32);

    width:100% ;
}
.solved{
    color: rgb(0, 255, 0);
}
.unsolved{
    color: rgb(255, 0, 0);
}
